<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Jovian Careers</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
      <img class="img-fluid" src="https://jovian-careers-website.eliasdewa14.repl.co/static/banner.jpg" alt="">
      <h2 class="text-center mt-2 mb-4">About Jovian</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed tempus urna et pharetra pharetra massa massa. Tellus id interdum velit laoreet id. Lacus sed turpis tincidunt id. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris. Nisi lacus sed viverra tellus in hac habitasse platea. Donec enim diam vulputate ut pharetra. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Feugiat vivamus at augue eget arcu dictum varius duis. A diam maecenas sed enim ut sem viverra aliquet. Nulla pharetra diam sit amet. Egestas egestas fringilla phasellus faucibus scelerisque.</p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitems.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023, Elias</p>
      </div>
     </div>
  </body>
</html>